/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/
.logo
{
    display: flex;
    flex-direction: row;
}

.user-actions
{

    padding: 20px;

}

nav
{
    display: flex;
    justify-items: space-between;
    justify-content: space-between;
    padding: 20;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-link
{
    padding: 10px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.hero
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card-container
{
    display: flex;
    flex-direction: row;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    
}

.footer-section
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: space-around;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


